@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//colors//


$red: #78101E;
$grey: #404040;
$light_grey: #C4C4C4;
$withe: #fff;
$title: #fff;


//size//

$title-size:65px;
$nav:20px;
$txt-size:16px;


//$sections-spaces:120px;

//font//

$text-font:"Open Sans";

//
